body{
    background-image: url(_dream2.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-color: #fff;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#btn{
    position: fixed;
    border-radius: 40px;
    padding:10px;
    font-size: 40px;
    border: 2px solid #FA8072;
    font-family: 'Dancing Script', cursive;
}
 #par{
    display: none;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    background-color: #fff;
    border:3px solid #FA8072;
    border-radius: 30px;
    width:80%;
    text-align: center;
    margin-top: 400px;
    padding:10px;
    font-weight: bold;
 }

 @media all and ( max-width: 800px ) {
     #btn{
         font-size: 35px;
     }
     #par{
         font-size:25px;
     }
 }

 @media all and ( max-width: 500px ) {
     #btn{
         font-size:25px;
     }
     #par{
         font-size: 20px;
     }
 }
 
